*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    background: #fff;
    width: 100%;
    height: 100%;
}

#home .bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.884)),url(../images/bg.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center ;   
}
#home .bg .content{
    color : #fff;
    margin-bottom : 60px;
    text-transform: uppercase;
    text-align: center;
}
#home .bg .content h1 {
    font-size : 50px;
    font-weight: bold;
    letter-spacing: 5px;
}
#home .bg .content h4 {
    font-weight: 200;
   
}
nav {
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 2px rgb(168, 166, 166);
    padding: 0;
}
nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    
}

nav .menu .avata {
    background-image: url(../images/avata.jpg);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 8px solid #fff;
    background-position: center ;   
    margin: 0 -80px 0 -80px;
    box-shadow: 0px 0px 5px rgb(61, 60, 60);
    z-index: 999;
}

nav .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 270px;
}

nav .menu ul li {
    padding: 21px 0;
    border-right: 1px solid #eaeaea;
    margin: 0;
    cursor: pointer;
    width: 50% ;
    text-align: center;
    
}
nav .menu ul li:hover{
    border-bottom : 2px solid #199cdb;
    padding: 22px 0;
}
nav .menu ul li.active 
{
    border-bottom : 2px solid #199cdb;
    padding: 22px 0;
}
nav .menu ul li:first-child{
    border-left: 1px solid #eaeaea;
}
nav .menu ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
nav .menu ul li i{
    font-size: 13px;
    color : #199cdb;
    margin-left: 20px;
} 

.block-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f5f5f5;
    height: auto;
    flex-direction: row;
}
.block-content .two{
    background: #f0f0f0;
}
.block-content .block-about{
    width: 33%;
    margin: 0;
    padding: 100px 80px 70px 60px;
    font-weight: 200;
    font-size: 15px;
}
.block-title {
    margin-bottom: 20px;
}
.block-title h2{
    font-size: 28px;
    font-weight: 400;
    display: block;
    position: relative;
    
}
 .block-title h2:before{
    content: "";
    position: absolute;
    background: #199cdb;
    height: 2px;
    left: 0;
    top: -20px;
    width: 30px;
}
.block-content h5{
    font-weight: 400;
    margin-bottom: 12px;
}
.block-content .one{
    line-height: 24px;
}

.block-content .two ul li{
    list-style: none;
    letter-spacing: 1px;
    line-height: 28px;
}
.block-content .two span {
    font-weight: 500;
    
}
.three .exp .exp-desc{
    display: inline-block;
}
.three .exp h5{
    margin-bottom: 5px;
   
}.three .exp{
    margin-bottom:  -13px;
}
.three .exp .exp-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
}
.three .exp i{
    font-size: 45px;  
    color: #e0dede;
}

/* End section about */

/* Section resume */
.resume{
    padding: 100px 0 80px 0 ;
}

.resume .block-content {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
}

.resume .block-content .one{
    height: 300px;
    
}
.resume .block-content .two {
    background: #fff;
    height: 400px;
}
.resume .block-content .three {
   height: auto;
}
.resume .block-content .three .rating{
    margin-top : -22px;
}
.resume .block-content .three ul{
    list-style: none;
}
.resume .block-content .three ul li {
    margin-bottom: 15px;
}
.resume .block-content .three span{
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 47px;
    margin-top : -5px;
}
span.transparent{
    opacity: 0.1;
    background: #888888;
}

.resume .block-content .four .wrap {
    display: inline-block;
    text-align: center;
    
}   
.resume .block-content .four .circle{
    text-align: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border : 1px solid #199cdb;
    margin: 10px 1px;
    line-height: 53px;
}


.resume .block-content .block-about{
    border: 1px solid #f0f0f0;
    width: 32%;
    padding: 60px 20px 0px 30px;
    line-height: 17px;
    margin: 10px 0;
 
}
.resume .block-content .block-about h2{
    font-weight: 200;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    left: 10px;
  }
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: rgb(146, 146, 146);
    top: 0;
    bottom: 0;
    margin-left: -3px;
  }

.time {
padding: 8px 0px 1px 20px;
position: relative;
background-color: inherit;
width: 100%;
}

.time::after {
content: '';
position: absolute;
width: 10px;
height: 10px;
background-color: #199cdb;
top: 15px;
border-radius: 50%;
z-index: 1;
}

.right::after {
left: -8px;
}

.content-desc {
position: relative;
border-radius: 6px;
width: 100%;
}
.content-desc p {
    font-size : 13px;
}
  


 #portfolio{
    padding: 100px 0 80px 0 ;
    background: #f0f0f0;
 } 
 #portfolio .block-content{
     padding: 20px;
     background: #f0f0f0;
 }
 #portfolio .block-content ul {
    display: inline-block;
    position: relative;
    margin-left: 28px;
 }
 #portfolio .block-content ul li{
    display: inline-block;
    font-size: 15px;
    margin-right: 25px;
    position: relative;
 }
 #portfolio .block-content ul li a{
    display: inline-block;  
    color: #8b8a8a;
    background: #f0f0f0;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
 }
 #portfolio .block-content ul li a.active{
    color: #131212;
   
    border-bottom: 2px solid #228cc2;
 }
.grid{
    width: 100%;
    background: #f0f0f0;
    padding: 0 20px ;
}
 .grid-item { width: 23%; margin: 4px }
 .grid-item img{
     width: 100%;
 }



@media screen and (max-width : 992px){
    #home .bg{
        background-position: unset;
        height: 600px;
    }
    nav .menu .avata{
        display: none;
    }
    .block-content .block-about{
        width: 100%;
        padding: 100px 60px 50px 60px;
    }
    .resume .block-content .block-about{
        height: auto;
        width: 100%;
        margin: 20px 40px;
        padding: auto;
    }
    .resume .block-content .three ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        width: 110%;
    }
    .resume .block-content .three ul li {
        width: 40%;
    }
    .resume .block-content .three span{
        
        height: 2px;
        margin-right: 12px;
        width: 70px;
    }
    nav .menu {
        display: none;
    }
    .grid{
        
        padding: 0 ;
    }
    .grid-item { width: 46%; margin: 5px }
   
}